body{
    background: #f0f3ef;
}
.row-405 {
    width: 405px
}

.row-225 {
    width: 225px
}

.row-165 {
    width: 165px
}

.row-330 {
    width: 330px
}

.row-220 {
    width: 220px
}

.row-218 {
    width: 218px
}

img {
    -webkit-backface-visibility: hidden;
    -webkit-transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out
}

img:hover {
    opacity: .8
}

.Recommend {
    height: 290px;
    background-color: white;
    margin: 10px 0
}

.Interest {
    height: 405px;
    border: 1px solid #ededed;
    margin: -2px;
    position: relative
}

.Floor-1 {
    height: 360px
}

em {
    font-style: normal
}

.banerArea .sui-carousel {
    padding: 5px;
    margin-bottom: 0
}

.news {
    border: 1px solid #e4e4e4;
    margin-top: 5px;
    position: relative;
    z-index: 3
}

.news h4 {
    border-bottom: 1px solid #e4e4e4;
    padding: 5px 10px;
    margin: 5px 5px 0;
    line-height: 22px;
    overflow: hidden
}

.news .news-list {
    padding: 5px 15px;
    height: 168px;
}
.news .news-list img{
    border-radius: 30px;
    margin-left: 70px;
    margin-top: 10px;
    border: 5px;
    box-shadow: 1px 1px 15px #888888;
}
.news .user_show{
    padding-left: 50px;
    padding-top: 10px;
}
.news .user_show .user_tip{
    padding-left: 20px;
}


.news ul li {
    line-height: 26px
}

.Lifeservice {
    border-right: 1px solid #e4e4e4;
    overflow: hidden;
    position: relative;
    z-index: 2
}

.SortList ul.Lifeservice> li {
    border-left: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    margin-right: -1px;
    height: 64px;
    text-align: center;
    position: relative;
    cursor: pointer
}

.Lifeservice .life-item .list-item {
    background-image: url(../img/icons.png);
    width: 61px;
    height: 40px;
    display: block;
    position: relative;
    *zoom: 1;
    _position: relative
}

.service-intro {
    line-height: 22px;
    width: 60px;
    display: block
}

.list-item-1 {
    background-position: 2px -5px
}

.list-item-2 {
    background-position: -60px -5px
}

.list-item-3 {
    background-position: -124px -5px
}

.list-item-4 {
    background-position: -188px -5px
}

.list-item-5 {
    background-position: 2px -76px
}

.list-item-6 {
    background-position: -60px -76px
}

.list-item-7 {
    background-position: -124px -76px
}

.list-item-8 {
    background-position: -188px -76px
}

.list-item-9 {
    background-position: 2px -146px
}

.list-item-10 {
    background-position: -60px -146px
}

.list-item-11 {
    background-position: -60px -146px
}

.list-item-12 {
    background-position: -60px -146px
}

.Right .ads {
    margin-top: 5px
}
.Right .ads img{
    width: 248px;
    height: 74px;
}

.clock {
    color: #fff;
    font-size: 18px;
    text-align: center
}

.clock .time {
    padding: 30px 0
}

.clock h3 {
    font-size: 18px
}

.carousel-control {
    width: 17px;
    border: 0;
    border-radius: 0;
    background: #585757
}

a.carousel-control {
    *font-size: 30px;
    *padding-left: 3px
}

.py-container .title {
    overflow: hidden;
    margin-top: 15px;
    padding-left: 10px;
}

.title .tip {
    background-image: url(../img/icons.png);
    width: 66px;
    height: 25px;
    background-position: 182px -104px;
    line-height: 30px
}

.like .Favourate {
    border: 1px solid #e4e4e4;
    height: 290px;
}

.like ul li img {
    width: 142px;
    height: 142px;
    padding: 0
}

.like ul li .like-text {
    padding: 0;
    width: 142px;
    border-right: 1px solid #e4e4e4
}

.like ul li:last-child .like-text {
    border-right: 0
}

.like-text h3 {
    color: #df3033
}

.blockgary {
    background: #f7f7f7
}

.Interest .Interest-conver-split {
    overflow: hidden;
    border-right: 1px solid #e4e4e4
}

.Interest .Interest-conver-split h5 {
    text-align: center;
    border-bottom: 1px dotted #e4e4e4;
    padding: 5px;
    font-weight: 700;
    color: #000
}

.Interest .x-line {
    height: 1px;
    background: #E4E4E4;
    display: block;
    top: 250px;
    left: 405px;
    position: absolute;
    width: 630px;
    z-index: 9999
}

.floors h3 {
    color: #c81623
}

.floor .floor-content {
    border-top: 2px solid #c81623;
    border-bottom: 1px solid #e4e4e4
}

.floors .fr ul li {
    margin-left: 0
}

.floors .fr ul li a {
    padding: 0
}

.floors .fr ul li a:after {
    content: "|";
    padding: 0 10px
}

.floors .fr ul li:last-child a:after {
    content: ""
}

.floors .sui-nav.nav-tabs>.active>a {
    font-weight: 400;
    color: #e82633
}

ul.jd-list {
    padding: 15px 0;
    overflow: hidden
}

ul.jd-list li {
    list-style-type: none;
    float: left;
    width: 40%;
    margin: 0 10px;
    border-bottom: 1px solid #e4e4e4;
    text-align: center;
    line-height: 26px
}

.floors .sui-nav.nav-tabs>.active>a {
    border: 0;
    padding-top: 1px
}

.floors .sui-nav.nav-tabs {
    border-bottom: 0
}

.floors .fr .sui-nav {
    margin: 10px 0 0;
    display: inline-block
}

.brandArea {
    position: relative
}

.brandArea .brand-yline {
    height: 405px;
    width: 1px;
    position: absolute;
    left: 80px;
    border-left: 1px dashed #e4e4e4
}

.brandArea ul li {
    height: 57px;
    border-bottom: 1px dashed #e4e4e4
}

.brandArea ul li img {
    padding: 11px 0
}

.brandArea ul li:nth-last-child(2) {
    border-bottom: 0
}

.brandArea ul li:last-child {
    border-bottom: 0
}

.split {
    position: relative
}

.split .floor-x-line {
    position: absolute;
    background: #e4e4e4;
    width: 220px;
    height: 1px;
    top: 180px
}

.row-218.split {
    border: 1px solid #e4e4e4;
    width: 218px;
    border-bottom: 0;
    border-top: 0
}

.brand .Brand-list {
    overflow: hidden;
    padding: 15px 0;
    margin: 10px 0
}

.brand ul li img {
    border-left: 1px dotted #ccc;
    padding: 0 10px
}

.brand ul li:first-child img {
    border-left: 0
}

ul.brand-list li {
    height: 48px;
    line-height: 58px
}

#floor-index {
    position: fixed;
    left: 280px;
    top: 120px;
    display: none
}

#floor-index a {
    text-decoration: none
}

#floor-index ul li {
    list-style-type: none;
    text-decoration: none;
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-bottom: 1px solid #ddd
}

#floor-index ul li:last-child {
    border-bottom: 1px solid #ddd
}

#floor-index ul li .num {
    color: #666;
    background: #f7f7f7
}

#floor-index ul li .word {
    display: none;
    background: #cb1c39;
    color: #fff
}

.Lifeservice {
    overflow: hidden
}

.tab-item {
    cursor: pointer;
    position: relative;
    top: 0
}

.life-item-content {
    width: 246px;
    height: 164px;
    top: 218px;
    padding-left: 1px;
    border-left: 1px solid #e4e4e4;
    overflow: hidden;
    position: absolute;
    z-index: 2
}

.life-detail {
    display: none;
    background: #fff;
    height: 159px;
    padding: 0 4px
}

.lifenow {
    display: block
}

.close {
    cursor: pointer;
    float: right;
    color: #ea4a36
}

#picLBxxl li {
    height: 250px;
    width: 237px;
}

.picLB li {
    height: 200px;
    margin: 0 -1px;
    overflow: hidden;
    background: #fff;
    position: relative
}

.picLB {
    overflow: hidden;
    zoom: 1;
    padding: 0 10px
}

.picLB li {
    float: left;
    display: inline
}

.picDl {
    width: 1200px;
    overflow: hidden;
    zoom: 1;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0
}

.picDl dd {
    float: left;
    display: inline;
    overflow: hidden
}

.sort .all-sort-list2 {
    margin-top: 3px;
    position: relative;
    border-top: 0;
    z-index: 9999
}

.sort .all-sort-list2 .item h3 {
    line-height: 30px;
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
    padding: 0 20px;
    margin: 0
}

.sort .all-sort-list2 .item h3 a {
    color: grey;
}

.sort .all-sort-list2 .hover h3 a {
    color: grey;
}

.sort .all-sort-list2 .hover h3 {
    position: relative;
    z-index: 13;
    background: #EAEAEA;
    border-color: #EAEAEA
}

.sort .all-sort-list2 .item span {
    padding: 0 5px;
    color: #A40000
}

.sort .all-sort-list2 .item a {
    color: #555;
    text-decoration: none
}

.sort .all-sort-list2 .item a:hover {
    font-weight: 700
}

.sort .all-sort-list2 .item-list {
    display: none;
    position: absolute;
    width: 734px;
    min-height: 460px;
    _height: 200px;
    background: #f7f7f7;
    left: 210px;
    border: 1px solid #DDD;
    top: 0;
    z-index: 9999!important
}

.sort .all-sort-list2 .item-list .close {
    position: absolute;
    width: 26px;
    height: 26px;
    color: #FFF;
    cursor: pointer;
    top: -1px;
    right: -26px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    font-family: "Microsoft Yahei";
    background: rgba(0,0,0,.6);
    background-color: transparent\9;
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, startColorstr='#60000000', endColorstr='#60000000')
}

.item-list .subitem {
    float: left;
    width: 650px;
    padding: 0 4px 0 8px
}

.item-list .subitem dl {
    border-top: 1px solid #EEE;
    padding: 6px 0;
    overflow: hidden;
    zoom: 1
}

.item-list .subitem .fore1 {
    border-top: 0
}

.item-list .subitem dt {
    float: left;
    width: 54px;
    line-height: 22px;
    text-align: right;
    padding: 3px 6px 0 0;
    font-weight: 700
}

.item-list .subitem dt a {
    color: #E4393C;
    text-decoration: underline
}

.item-list .subitem dd {
    float: left;
    width: 415px;
    padding: 3px 0 0;
    overflow: hidden
}

.item-list .subitem dd em {
    float: left;
    height: 14px;
    line-height: 14px;
    padding: 0 8px;
    margin-top: 5px;
    border-left: 1px solid #CCC
}

.item-list .subitem dd em a,.item-list .cat-right dd a {
    color: #666;
    text-decoration: none
}

.item-list .subitem dd em a:hover,.item-list .cat-right dd a:hover {
    font-weight: 400;
    text-decoration: underline
}

.item-list .cat-right {
    float: right;
    width: 300px
}

.item-list .cat-right dl {
    width: 194px;
    padding: 6px 8px
}

.item-list .cat-right dd {
    padding-top: 6px;
    line-height: 22px;
    overflow: hidden;
    padding: 3px 0 0
}

.item-list .cat-right dt {
    padding: 3px 6px 0 0;
    font-weight: 700;
    color: #E4393C
}

.item-list .cat-right dd a:hover {
    color: #666
}

.carousel-indicators {
    position: absolute;
    bottom: 22px;
    left: 50%;
    top: auto;
    width: 60%;
    margin-left: -4%;
    text-align: center;
    list-style: none
}
.sk_hd_lk{
    display: block;
    width: 190px;
    height: 290px;
    background: #e83632;
    color: white;
    position: relative;
}

.sk_tit{
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    top: 42px;
    font-size: 34px;
}
.sk_subtit{
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    top: 90px;
    /* color: #edac8e; */
    color: #f19999;
    color: rgba(255, 255, 255, 0.5);
    /* font-size: 24px; */
    font-size: 20px;
}
.sk_ico{
    position: absolute;
    left: 86px;
    top: 126px;
    display: block;
    width: 20px;
    height: 33px;
    background-image: url(//misc.360buyimg.com/mtd/pc/index_2017/2.1.0/static/images/sprite.seckill.png);
    background-position: -35px -25px;
}
.sk_desc{
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    top: 170px;
    font-size: 16px;
}

.cd_item {
    position: relative;
    float: left;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: #2f3430;
    margin-right: 5px;
}
.sk_cd {
    position: absolute;
    top: 212px;
    left: 30px;
    height: 40px;
}
.cd_item:before {
     content: '';
     display: block;
     position: absolute;
     left: 0;
     width: 100%;
     top: 50%;
     height: 1px;
     background: #e83632;
 }
.cd_item_txt {
    position: relative;
    line-height: 40px;
    font-weight: bold;
    /* font-size: 16px; */
    font-size: 20px;
}

.sk_item_lk {
    position: relative;
    display: block;
    width: 190px;
    height: 275px;
    text-align: center;
    margin: auto;
}
.sk_item_img {
    position: absolute;
    width: 140px;
    height: 140px;
    left: 50%;
    margin-left: -70px;
    top: 40px;
    -webkit-transition: opacity ease 0.2s;
    -o-transition: opacity ease 0.2s;
    -moz-transition: opacity ease 0.2s;
    transition: opacity ease 0.2s;
}
.sk_item_name {
    position: absolute;
    top: 190px;
    left: 0;
    width: 160px;
    padding: 0 15px;
    line-height: 30px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #8c8c8c;
}
.sk_item_price {
    position: absolute;
    left: 15px;
    top: 230px;
    width: 160px;
    height: 20px;
    padding: 1px;
    background: #e6382f;
    line-height: 20px;
}
.sk_item_price_new {
    float: left;
    width: 80px;
    height: 20px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
.sk_item_price_origin {
    float: left;
    width: 80px;
    height: 20px;
    background: #fff;
    text-align: center;
    color: #b7bcb8;
    font-size: 12px;
    text-decoration: line-through;
}

.Recommend li{
    box-sizing:border-box;
    border-right: 0.5px solid #f0f0f0;
}
.Recommend li:first-child{
    border-right: none;
}
.Recommend li:last-child{
    border-right: none;
}
.floorhd{
    height: 65px;
    margin-top: 20px;
}
.grid_c1 {
    margin: 0 auto;
    width: 1190px;
}
.grid_c1 h3 {
    display: block;
}
.floorhd_tit, .floorhd_tit_empty {
    position: relative;
    width: 150px;
    height: 45px;
    font-size: 28px;
    font-family: 'fzzzh', sans-serif;
    font-weight: normal;
    text-align: center;
    line-height: 45px;
    padding: 0 50px;
    margin: 0 auto 20px;
    overflow: hidden;
    color: #222;
}

.floorhd_tit:before, .floorhd_tit:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 3px;
    display: block;
    background: #222;
    top: 19px;
}
.floorhd_tit:after {
    right: 0;
}
.floorhd_tit:before {
    left: 0;
}
.clearfix:after {
    visibility: hidden;
    clear: both;
    display: block;
    content: ".";
    height: 0;
}
.chn, .corechn1, .corechn2 {
    height: 480px;
}
.grid_c1 {
    margin: 0 auto;
    width: 1190px;
}
.chn .sort {
    background: #fff;
}
.chn .box {
    float: left;
    width: 380px;
    height: 450px;
    margin: 0 10px 30px 0;
}
.chn .box_hd {
    height: 60px;
    padding: 0 20px;
    font-size: 0;
    line-height: 0;
}
.chn a{
    color: #666;
    text-decoration: none;
}
.chn .box_hd_lk {
    display: inline-block;
    position: relative;
    height: 40px;
    margin: 8px 0 0 0;
}
.chn .box_tit {
    float: left;
    font-weight: normal;
    font-size: 22px;
    color: #222;
    line-height: 44px;
}
.chn .box_hd_arrow {
    background-position: 0 0;
    float: left;
    position: relative;
    width: 30px;
    height: 30px;
    top: 14px;
    left: 4px;
    background-image: url(../img/arrow.jpg);
}
.chn .box_subtit {
    float: left;
    font-size: 14px;
    color: #999;
    height: 20px;
    line-height: 20px;
    margin: 22px 0 0 13px;
}
.sort_middle {
    float: left;
    display: block;
    width: 170px;
    height: 180px;
    margin: 0 10px 10px 0;
}
.lazyimg_loaded .lazyimg_img {
    opacity: 1;
}
.lazyimg_img {
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    -webkit-backface-visibility: hidden;
}
.chn img {
    border: 0;
    vertical-align: middle;
}
.sort_middle {
    float: left;
    display: block;
    width: 170px;
    height: 180px;
    margin: 0 10px 10px 0;
}
.sort_small_wrapper {
    float: left;
    width: 348px;
    border: solid #ebeaea;
    border-width: 0 1px 1px 0;
    overflow: hidden;
}
.sort_small_wrapper {
    float: left;
    width: 348px;
    border: solid #ebeaea;
    border-width: 0 1px 1px 0;
    overflow: hidden;
}
.sort_small {
    float: left;
    width: 86px;
    height: 58px;
    text-align: center;
    line-height: 58px;
    font-size: 0;
    overflow: hidden;
    border: solid #ebeaea;
    border-width: 1px 0 0 1px;
}
.sort_small_img {
    background: #fff;
    width: 80px;
    margin: auto;
    -webkit-transition: opacity ease 0.2s;
    -o-transition: opacity ease 0.2s;
    -moz-transition: opacity ease 0.2s;
    transition: opacity ease 0.2s;
}
.sort_small img {
    width: 100%;
    height: auto;
}
.lazyimg_loaded .lazyimg_img {
    opacity: 1;
}
.sort_wrapper {
    margin: 0 0 0 20px;
}
.box {
    float: left;
    width: 390px;
    height: 450px;
    margin: 0 10px 30px 0;
}
.tactic {
    background: #fff;
}
.tactic_cover_large {
    height: 370px;
}
.tactic_cover {
    position: relative;
    width: 350px;
    height: 250px;
    margin: 0 auto;
}
.tactic_lk {
    display: block;
}
.box_last {
    margin-right: 0;
    float: left;
}
.box_last .act_inner:after {
    left: auto;
    right: 30px;
}
.act_inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.act_inner:before {
    content: '';
    position: absolute;
    display: block;
    width: 340px;
    height: 420px;
    border: solid 5px #333;
    top: 20px;
}
.row1 .act_inner:before {
    content: '';
    position: absolute;
    display: block;
    width: 340px;
    height: 420px;
    border: solid 5px #333;
    top: 20px;
    left: 20px;
}
row2 .act_inner:before {
    content: '';
    position: absolute;
    display: block;
    width: 340px;
    height: 420px;
    border: solid 5px #333;
    top: 20px;
}



.box_last .act_lk {
    float: right;
    margin-right: 30px;
}
.act_lk {
    position: relative;
    z-index: 1;
    float: left;
    width: 340px;
    height: 420px;
    margin: 0 30px;
}
.act_lk {
    position: relative;
    z-index: 1;
    float: left;
    width: 340px;
    height: 420px;
    margin: 0 30px;
}
.act_img {
    position: relative;
    width: 100%;
    height: 100%;
}
.act_multi .act_lk {
    width: 340px;
    height: 200px;
    margin-bottom: 20px;
}
.act_lk {
    position: relative;
    z-index: 1;
    float: left;
    width: 340px;
    height: 420px;
    margin: 0 30px;
}
.act_inner:after {
    content: '';
    z-index: 0;
    display: block;
    position: absolute;
    width: 340px;
    height: 420px;
    left: 50px;
    top: 0;
    background: #f0f3ef;
}
.act_img {
    position: relative;
    width: 100%;
    height: 100%;
}
.treasure {
    background-color: #fff;
}
.treasure_scene {
    display: block;
    height: 225px;
    background: #fff;
    position: relative;
}
.treasure_scene_hd {
    padding-top: 20px;
    height: 18px;
    font-size: 18px;
    line-height: 18px;
}
.treasure_scene_tit {
    width: 350px;
    color: #222;
    font-weight: normal;
    margin: auto;
}
.treasure_scene_subtit {
    color: #999;
    font-size: 14px;
    vertical-align: 1px;
}
.treasure_scene_bd {
    padding-top: 30px;
}
.treasure_list {
    overflow: hidden;
    text-align: center;
}
.treasure_item {
    display: inline-block;
    margin: 0 25px;
}
.treasure_img {
    width: 130px;
    height: 130px;
    -webkit-transition: opacity ease 0.2s;
    -o-transition: opacity ease 0.2s;
    -moz-transition: opacity ease 0.2s;
    transition: opacity ease 0.2s;
}
.treasure_scene .treasure_scene_gap {
    height: 1px;
    width: 100%;
    background-color: #f3f2f1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-left: 20px solid #fff;
    border-right: 20px solid #fff;
    position: absolute;
    bottom: 0;
    left: 0;
}
.treasure_scene {
    display: block;
    height: 225px;
    background: #fff;
    position: relative;
}
.box_last {
    margin-right: 0;
}
.box_hd {
    height: 60px;
    padding: 0 20px;
    font-size: 0;
    line-height: 0;
}
.box_hd_lk {
    display: inline-block;
    position: relative;
    height: 40px;
    margin: 8px 0 0 0;
}
.sort_large {
    display: block;
    width: 350px;
    height: 180px;
    margin-bottom: 10px;
    margin-left: -5px;
    margin-top: 5px;
}
.sort_large_img {
    width: 100%;
    height: 100%;
    -webkit-transition: opacity ease 0.2s;
    -o-transition: opacity ease 0.2s;
    -moz-transition: opacity ease 0.2s;
    transition: opacity ease 0.2s;
}
