<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	<!--注解扫描-->
	<context:component-scan base-package="wiki.laona"/>
	<!--<context:property-placeholder location="classpath:config/application.properties" />-->
	
	<!-- 注解驱动 -->
	<mvc:annotation-driven>
		<!-- 转换器 -->
		<mvc:message-converters register-defaults="true">
			<!-- 配置阿里的转换器 -->
			<bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
				<property name="supportedMediaTypes" value="application/json"/>
				<property name="features">
					<array>
						<value>WriteMapNullValue</value>
						<value>WriteDateUseDateFormat</value>
					</array>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>
	
	<!-- 配置多媒体解析器 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="UTF-8"></property>
		<!-- 设定文件上传的最大值5MB，5*1024*1024 -->
		<property name="maxUploadSize" value="5242880"></property>
	</bean>
	
	<!-- 给当前服务起个名 -->
	<dubbo:application name="laona-store-manager-web"/>
	<!-- 配置连接zookeeper地址  -->
	<dubbo:registry address="zookeeper://192.168.197.135:2181"/>
	<!-- 包扫描, 只有在这个包下面才可以用阿里的@Reference注解注入service -->
	<dubbo:annotation package="wiki.laona.core.controller"/>
	<!-- 超时全局设置   10分钟   check=false不检查服务提供方-->
	<dubbo:consumer timeout="600000" check="false"/>
</beans>